{% extends 'core/base.html' %}

{% block title %}About Link SAS{% endblock %}

{% block content %}
<div class="min-h-screen bg-gray-100">
    <div class="py-16 sm:py-24 md:py-32 lg:py-40 xl:py-48">
        <div class="container mx-auto px-4">
            <div class="text-center">
                <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-cyan-600 mb-4">About Link SAS</h1>
            </div>
            
            <div class="text-gray-700 mb-12">
                <div class="bg-white rounded-lg p-4 shadow-md hover:bg-cyan-100 transform hover:scale-105 transition duration-300">
                    <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">
                        Your all-in-one solution for organizing and managing your favorite links.
                    </p>
                </div>
            </div>

            <div class="text-gray-700 mb-12">
                <div class="bg-white rounded-lg p-4 shadow-md hover:bg-cyan-100 transform hover:scale-105 transition duration-300">
                    <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">
                        Link SAS is a powerful web application that helps you keep track of your links, categorize them, and access them easily.
                    </p>
                </div>
            </div>

            <div class="text-gray-700 mb-12">
                <div class="bg-white rounded-lg p-4 shadow-md hover:bg-cyan-100 transform hover:scale-105 transition duration-300">
                    <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">
                        Whether it's for personal use or work, Link SAS has got you covered. With features like categorization, prioritization, and status tracking, you can efficiently manage your links and stay organized.
                    </p>
                </div>
            </div>

            <div class="text-gray-700 mb-12">
                <div class="bg-white rounded-lg p-4 shadow-md hover:bg-cyan-100 transform hover:scale-105 transition duration-300">
                    <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">
                        Plus, our responsive design ensures you can access Link SAS from any device. Get started today and streamline your link management experience with Link SAS.
                    </p>
                </div>
            </div>
            <div class="text-gray-700 mb-12">
                <div class="bg-white rounded-lg p-4 shadow-md hover:bg-cyan-100 transform hover:scale-105 transition duration-300">
                    <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">
                        Link SAS offers a user-friendly interface that allows you to quickly add, edit, and categorize your links. You can create custom categories, set priorities for your links, and mark them as important or completed.
                    </p>
                </div>
            </div>

            <div class="text-gray-700 mb-12">
                <div class="bg-white rounded-lg p-4 shadow-md hover:bg-cyan-100 transform hover:scale-105 transition duration-300">
                    <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">
                        Our mission is to simplify your digital life by providing an efficient solution for link management. Say goodbye to messy bookmarks and hello to a well-organized collection of links with Link SAS.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
