<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | EMPLinks</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://favi.bjornmagne.com/bmklogo3/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://favi.bjornmagne.com/emp2l/bmklogo3-32x32.png" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="https://favi.bjornmagne.com/emp2l/bmklogo3.ico">
    
</head>
<body class="font-sans">
    {% include 'core/partials/nav.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {%include 'core/partials/footer.html'%}
    

    

{%include 'core/partials/script.html'%}
</body>
</html>
