{% extends 'core/base.html' %}

{% block title %}Category Details{% endblock %}

{% block content %}
<h1 class="text-2xl sm:text-4xl font-bold mb-4 text-center">Category</h1>
<div class="text-center mb-2">
    <a href="{% url 'create-category' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded-full transition-transform transform hover:scale-105 ease-in inline-block">Create Category</a>
</div>

<h1 class="text-3xl font-bold mb-8 text-center">{{ category.name }}</h1>
<div class="container mx-auto py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for category in categories %}
        {%include 'links/partials/catagoris.html' %}
        {% endfor %}
    </div>
</div>
{%include 'links/partials/catagorisscript.html' %}
{% endblock %}
