{% extends 'core/base.html' %}

{% block title %}Links{% endblock %}

{% block content %}
<div class="container mx-auto py-4 flex flex-col sm:flex-row">

    {%include 'links/partials/query.html'%}

    <div class="w-full sm:w-3/4">
        <h1 class="text-2xl sm:text-4xl font-bold mb-4 text-center">Links</h1>
        <div class="text-center mb-8">
            <a href="{% url 'create-link' %}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition-transform transform hover:scale-105 ease-in">Create Link</a>
        </div>
        <div class="grid grid-cols-1 gap-4">
            {% for link in links %}
            {% include 'links/partials/linking.html' %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container mx-auto py-4 text-center">
    <a href="#top" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition-transform transform hover:scale-105 ease-in">
        Go to Page Top
    </a>
</div>

{% include 'links/partials/scripts.html' %}
{% endblock %}
