<div class="bg-white rounded-lg shadow-md p-4 transition-transform transform hover:scale-105 ease-in text-center">
    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline hover:text-blue-700">
        {{ link.name }}
    </a>
    <div class="mt-2">
        <p class="text-gray-600">
            <span class="truncate inline" style="max-width: 200px;">
                {{ link.description|slice:":20" }}{% if link.description|length > 20 %}...{% endif %}
            </span>
            <span class="hidden description-hover">{{ link.description }}</span>
        </p>
        {% if link.description|length > 20 %}
        <a href="javascript:void(0);" class="text-blue-600 hover:underline description-toggle">Read more</a>
        {% endif %}
    </div>
    <div class="mt-4 flex justify-between text-gray-700 text-sm hover:text-gray-900">
        <span>{{ link.category.name }}</span>
        <span>{{ link.created_at|date:"F j, Y" }}</span>
    </div>
    <div class="mt-2 flex items-center">
        <a href="{% url 'edit-link' pk=link.pk %}" class="text-blue-600 hover:text-blue-700 mr-2">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a href="{% url 'delete-link' pk=link.pk %}" class="text-red-600 hover:text-red-700 delete-link" data-delete-url="{% url 'delete-link' pk=link.pk %}">
            <i class="fas fa-trash-alt"></i> Delete
        </a>
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-block ml-auto transition-transform transform hover:scale-105 ease-in">
            Go to
        </a>
    </div>
</div>
